<!DOCTYPE html>
<html lang="ko">
<head>
    <style>
        h1 {text-align: center;}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지하철 불쾌지수</title>
</head>
<body>

    <h1>이용할 지하철의 시간을 선택하세요</h1>

    <ul>

        <li><a href="first">첫차시간대 예측</a></li>
        <li><a href="working">출근시간대 예측</a></li>
        <li><a href="standard">일반시간대 예측</a></li>
        <li><a href="home">퇴근시간대 예측</a></li>
        <li><a href="last">퇴근이후시간대 예측</a></li>

    </ul>

    
    
</body>
</html>